<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186478679631-ach987gqgslluc4r40r2r02lpo8ifnmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186478679631-ach987gqgslluc4r40r2r02lpo8ifnmj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186478679631-1no9abokblno4p49mgc42k7behhr3e90.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1mz1R_A521NykPJyEXS1PlBaUHhbZrD8</string>
	<key>GCM_SENDER_ID</key>
	<string>186478679631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thecanaryweb.app</string>
	<key>PROJECT_ID</key>
	<string>man-at-home-app</string>
	<key>STORAGE_BUCKET</key>
	<string>man-at-home-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186478679631:ios:24f20f4c58a3406f357c3a</string>
</dict>
</plist>